<!-- About Us Section Begin -->
<section class="aboutus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-text">
                    <div class="section-title">
                        <span>О нас</span>
                        <h2>Сервис уборки<br />в Москве</h2>
                    </div>
                    <p class="f-para">Мы салон пропылесосим, чей труп в багажнике - не спросим. Lorem ipsum dolore</p>
                    <p class="s-para">So when it comes to booking the perfect hotel, vacation rental, resort,
                        apartment, guest house, or tree house, we’ve got you covered.</p>
                    <a href="{{ 'about-us' | page }}" class="primary-btn about-btn">читать дальше</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-pic">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="{{ 'assets/img/about/about-1.jpg' | theme }}" alt="">
                        </div>
                        <div class="col-sm-6">
                            <img src="{{ 'assets/img/about/about-2.jpg' | theme }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Section End -->
