==
<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>{{ this.page.title }}</h2>
                    <div class="bt-option">
                        <a href="{{ 'home' | page }}">Главная</a>
                        <span>{{ this.page.title }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
